$meal-card-title: var(--swans-down);
$meal-card-title--accent: #D1E1D6;

$meal-card-btn-bg: var(--green);
$meal-card-btn-text: var(--dark-grey);

$meal-block-bg: var(--gallery);
$meal-block-text: var(--dark-grey);


.cardMeal {
    margin-bottom: 3em;
}

.day {
    grid-column: 2/3;
    grid-row-start: 1;
}

.day__date-block {
    min-width: 23%;
    text-align: left;
      
  .date-input {
        grid-column: 2/3;
        grid-row: 1/2;
        width: 10%;
        height: 3em;
        align-self: center;
        margin-bottom: 2em;
    }
}

.meal-card__title {
    position: relative;
    display: block;
    width: 200px;
    height: 21px;
    margin-bottom: 2em;
}

.meal-card__title-block {
    display: block;
    width: 100%;
    height: 100%;
    background: $meal-card-title;
    padding: 5px 14px;
    transform: skewX(-30deg);
    box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.12);
}

.meal-card__title-block::before {
    content: '';
    display: inline-block;
    background: $meal-card-title--accent;
    width: 35%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 31px;
    font-weight: 700;
}


.meal-card__title-block-text {
    width: 100%;
    height: 100%;

    & > .meal-card__time {
        position: absolute;
        left: 17px;
        z-index: 10;
        top: 5px;
    }

    & > .meal-card__type {
        position: absolute;
        right: 17px;
        z-index: 10;
        top: 5px;
    }
}

.meal-card {
    position: relative;
    display: block;
    min-width: 400px;
    max-width: 600px;
    height: 180px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.12);
    border-radius: 12px;
}

.meal-card__btn {
    position: absolute;
    border: 0;
    border-radius: 7px;
    transform: rotate(45deg);
    width: 50px;
    height: 50px;
    bottom: -25px;
    right: 40px;
    background: $meal-card-btn-bg;
    color: $meal-card-btn-text;
    box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.12);
    outline: none;

    & > i {
        transform: rotate(-45deg);        
    }
}

.meal-card__bottom {
    display: grid;
    grid-template-columns: 30% 30% 40%;
}


.meal-card__bottom-info {
    padding: 1px 1em;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 1.1em;

    &.recepie-level {
        grid-column: 1/2;
        justify-self: flex-start;
    }

    &.recepie-time {
        grid-column: 2/3;
        justify-self: center;
    }

    &.recepie-calories {
        grid-column: 3/4;
        justify-self: flex-start;
    }
}


.meal-card__top {
    width: 100%;
    height: calc(180px - 20%);
    padding: 1px 1em;
    box-sizing: border-box;
}

.meal-card__meal-block {
    position: relative;
    display: block;
    min-height: 31px;
    min-width: 160px;
    width: 113px;
    border-radius: 3px;
    line-height: 30px;
    background: $meal-block-bg;
    padding: 0 10px;
    box-sizing: border-box;
}

.meal-card__meal-name {
    text-align: left;
    color: $meal-block-text;

    & > i {
        position: absolute;
        top: 4px;
        right: 8px;
    }
}